.item1{
grid-area: a;
        width: 600px; 
        height: 40px;
padding-top: 20px;
      
}
#spanner{
    font-weight: bold;
    font-size: 30px;
    color: black;

}

/* .ScrollingComments {
    background-color: rgb(35, 233, 167);
    width: 60%;
    height: 100px;
} */